*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sen', sans-serif;

}

body{
   background-color: black;
}

.tausta {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 50vh;
    background: url('hptrain.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.header{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 34px;
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.navi a{
    position: relative;
    font-size: 22px;
    color: white;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navi a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: white;
    transition: .3s;

}

.navi a:hover::before{
    width: 100%;
}

h1{
    color: white;
    text-align: center;
    padding: 30px;
    font-size: 40px;

}

div.gallery {
    border: 1px solid #ccc;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: 250px;
  }
  
  .responsive {
    padding: 0 6px;
    margin-top: 20px;
    float: left;
    width: 24.99999%;
  }

  footer {
    padding: 60px;
    padding-right: 25px;
    float: left;
    width: 100%;
    height: 50px;
    text-align: center;
  }

  footer a{
    color: white;
    text-decoration: none;
    margin-right: 30px;
    font-size: 20px;
  }
  footer a:hover {
    color: yellow;
    transition: .4s ease-in-out; 
  } 
  .mobile a{
    display: none;
  }
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
    
  }

  @media only screen and (max-width: 900px){
    .navi a {
      font-size: 18px;
      margin-left: 10px;
    }
    .logo {
      font-size: 30px;
    }
    .header {
      padding: 20px 20px;
    }
    }
  
  
  @media only screen and (max-width: 560px) {
    .responsive {
      width: 100%;
    }
    .logo {
      font-size: 25px;
    }
    .navi a{
      display: none;
    }
    footer a{
      font-size: 14px;
      display: inline;
      margin: auto;
      margin-right: 10%;
    }
    .mobile a{
      text-decoration: none;
      color: white;
      margin: auto;
      display: block;
      padding: 6px;
      margin-top: 10px;
      width: 70px;
      text-align: center;
      font-weight: 500;
    }
    .mobile a:hover{
      color: yellow;
      transition: .4s ease-in-out;
    }
}
