*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sen', sans-serif;

}

body{
   background-color: black;
}

.tausta {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 50vh;
    background: url('hpkoru.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.header{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 34px;
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.navi a{
    position: relative;
    font-size: 22px;
    color: white;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navi a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: white;
    transition: .3s;

}

.navi a:hover::before{
    width: 100%;
}
h1{
    color: white;
    text-align: center;
    padding: 30px;
    font-size: 40px;
}

.spells {
    color: white;
    margin: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}
table {
    margin: auto;
    width: 500px;
    font-size: 18px;
    align-items: center;

}

th, td {
    padding: 15px;
}

p {
    color: white;
    margin: 50px;
    text-align: center;
}
.tietoa a {
    color: yellow;
}
.tietoa a:active {
    color: green;
}
.tietoa a:visited {
    color: red;
}

footer {
    padding: 60px;
    width: 100%;
    height: 50px;
    text-align: center;
   
  }

  footer a{
    color: white;
    text-decoration: none;
    margin-right: 30px;
    font-size: 20px;
  }
footer a:hover {
    color: yellow;
    transition: .4s ease-in-out;
    
}