*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sen', sans-serif;

}

body{
   background-color: black;
}

.tausta {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 50vh;
    background: url('hptie.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.header{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 34px;
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.navi a{
    position: relative;
    font-size: 22px;
    color: white;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navi a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: white;
    transition: .3s;

}

.navi a:hover::before{
    width: 100%;
}

.otsikko {
  color: white;
  text-align: center;
  padding: 30px;
  font-size: 40px;
}

.container {
    display: grid;
    margin-top: 20px;
    margin-bottom: 20px;
    grid-template-columns: auto auto auto;
    background-color: transparent;
    padding: 10px;
  }

.item {
  margin: auto;
  background-color: transparent;
  padding: 20px;
  color: white;
  }

 ul, li {
  list-style-type: none;
  font-size: 25px;
  padding-top: 10px;
 }


  h1 {
    font-size: 35px;
    text-align: center;
  }

  .item1 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 15px red;
    border-radius: 20px;
  }
  .item2 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 15px green;
    border-radius: 20px;
  }
  .item3 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 15px yellow;
    border-radius: 20px;
  }
  .item4 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 15px blue;
    border-radius: 20px;
  }

  .testi {
    margin: auto;
    padding: 60px;
    color: white;
    text-align: center;
  }

.button-1 {
  background-color: transparent;
  border-radius: 8px;
  border: 2px solid yellow;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin-top: 20px;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
  background-color: yellow;
  transition: .7s ease-in-out;
  color: black;
  animation: hehku 4.5s infinite;
}

@keyframes hehku {
  0% {box-shadow: 0px 0px 0px yellow;}
  50% {box-shadow: 1px 1px 30px yellow;}
  100% {box-shadow: 0px 0px 0px yellow;}
}

  footer {
    padding: 60px;
    padding-right: 25px;
    width: 100%;
    height: 50px;
    text-align: center;

   
  }

  footer a{
    color: white;
    text-decoration: none;
    margin-right: 30px;
    font-size: 20px;
  }
footer a:hover {
    color: yellow;
    transition: .4s ease-in-out;
}
.mobile a{
  display: none;
}
@media only screen and (max-width: 1300px){
  .container{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
  .container img{
    width: 50%;
    height: 80%;
  }
  .item h1{
    font-size: 28px;
  }
  .item h1, ul li{
    position: relative;
    top: 100px
  }
 
}

@media only screen and (max-width: 900px){
  .navi a {
    font-size: 18px;
    margin-left: 10px;
  }
  .logo {
    font-size: 30px;
  }
  .header {
    padding: 20px 20px;
  }
  .container{
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }
  .item h1, ul li{
    top: -40px;
  }
  ul li{
    font-size: 20px;
  }
  
}
  
@media only screen and (max-width: 560px) {
 
  .logo {
    font-size: 25px;
  }
  .navi a{
    display: none;
  } 
  ul li{
    font-size: 14px;
  }
  .item h1{
    font-size: 24px;
    padding-top: 20px;
  }
  .testi{
    padding: 10px;
  }
  .item{
    padding: 5px;
  }
  .mobile a{
    text-decoration: none;
    color: white;
    margin: auto;
    display: block;
    padding: 6px;
    margin-top: 10px;
    width: 70px;
    text-align: center;
    font-weight: 500;
  }
  .mobile a:hover{
    color: yellow;
    transition: .4s ease-in-out;
  }
  footer a{
    font-size: 14px;
    display: inline;
    margin: auto;
    margin-right: 10%;
  }
}